namespace: syntropynet
name: syntropy
version: {{ version }}
readme: README.md
authors:
  - Andrius Mikonis (github.com/foxis)
description: A collection of Ansible modules to manage Syntropy networks.
license_file: COPYING
tags:
  - syntropy
  - networking
repository: https://github.com/SyntropyNet/syntropy-ansible-collection/
homepage: https://github.com/SyntropyNet/syntropy-ansible-collection/
issues: https://github.com/SyntropyNet/syntropy-ansible-collection/issues/
build_ignore:
  - .gitignore
  - galaxy.yml.j2
  - j2.py
  - .isort.cfg
  - .pre-commit-config.yaml
  - requirements.in
  - dev-requirements.in
  - dev-requirements.txt
  - .github
  - changelogs/.plugin-cache.yaml
